<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>Enchanted Forest</title>
  <link rel="stylesheet" href="/static/base.css" type="text/css" />
  <link href='http://fonts.googleapis.com/css?family=Caesar+Dressing' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Princess+Sofia' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id='container'>
    <canvas id='game' width='800' height='500'></canvas>
  </div>
  <script src='/static/Box2dWeb-2.1.a.3.min.js'></script>
  <script src='/static/inheritance.js'></script>
  <script src='/static/xhrget.js'></script>
  <script src="/static/physicsclass.js"></script>
  <script src='/static/engine.js'></script>
  <script src="/static/canvastile.js"></script>
  <script src='/static/entity.js'></script>
  <script src='/static/mainchar.js'></script>
  <script src='/static/wolf.js'></script>
  <script src='/static/bee.js'></script>
  <script src='/static/roach.js'></script>
  <script src='/static/game.js'></script>
</body>
</html>


